* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    background-image: url(https://static.todamateria.com.br/upload/in/ic/inicio-da-segunda-guerra-mundial-og.jpg?class=ogImageRectangle);
}

header {
    background: #4e1f2d;
    color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    margin-left: 20px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
}


nav ul li a {
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger .bar {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}


@media (max-width: 768px) {
    nav {
        display: none;
        width: 100%;
        background-color: #f5f5f5;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    nav.active {
        display: block;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        padding: 15px;
    }
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

nav button {
    
    background-color: #6c2a33;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #a64056;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    height: 350px;
    width: 750px;
    
    
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4e1f2d;
    margin-bottom: 20px;
}

section h3 {
    color: #4e1f2d;
    margin-top: 20px;
}

section p {
    margin-bottom: 20px;
    text-align: justify;
}
img{
    width: 300px;
    height: auto;
    display: flex;
    justify-self: center;
}
#imagem {
    width: 200px;
    height: auto;
    display: flex;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background: #4e1f2d;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

#footer {
    background: #4e1f2d;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    border-radius: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}