*{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body{
  background: url(./assets/bg-desktop-light-roxo-azul-escura.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}
body form{
  width: 400px;
  height: auto;
  background-color: rgb(120, 53, 53);
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
body header{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
#container{
  width: 400px;
  height: auto;
  background-color: rgb(120, 53, 53);
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#profile p{
  font-weight: 50;
  line-height: 24px;
  margin-top: 10px;
}
#switch{
  margin: 4px auto;
  position: relative;
  width: 64px;
}
.mapa-container iframe{
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  width: 50%;
  height: 200px;
  margin: auto;
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 0%;
  color: white;
  font-weight: bold;
}